*{
	margin: 0;
	padding: 0;
	font-family: 'Share Tech Mono', monospace;
}
html,body
{
	height: 100%;
}
html,body{
	height: 100%;
}
a{
	text-decoration: none;
	color:white;
}
a:hover
{
	color:#3498db;
}
header{
	background: #2ecc71;
	text-align: center;
	color: white;
	padding: 1em;
}
.message{
	padding: 1em 0;
	text-align: center;
}
footer
{
	background: black;
	color: white;
	text-align: center;
	padding: 1em;
}
.FearBlanks::before{
	color: #ecf0f1;
	content: "Powered by ";
}
.FearBlanks::after{
	color: #ecf0f1;
	content: " 2017 ©"
}
.Challenge{
	border: 20px solid red;
}
/* Image CSS3 */


/*extras*/
.bottom
{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.center{
	margin: 0 auto;
	display: table;
}
.center-text{
	text-align: center;	
}
.end{
	text-align: right;
}
.width-50{
	width: 50%;
}
.width-100{
	width: 100%;
}
.borders
{
	border: 1px solid black;
}